@model IEnumerable<B_Layer.Models.EmployeeVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/M_Layout.cshtml";
}

<div class="text-center"><h1 class="py-4">Employee</h1></div>


<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                @*<div class="header">
                        <h2>Welcome To Employee</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>*@
                <div class="body m-4">
                    <div class="text-left mb-3"><a asp-controller="Employee" asp-action="Creat"><button class="btn btn-outline-primary">Add New Employee</button></a></div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">

                            <thead>
                                <tr class="table-primary">
                                    <th>Employee Name</th>
                                    <th>Salary</th>
                                    <th>District</th>
                                    <th>HireDate</th>
                                    <th>Notes</th>
                                    <th>IsActive</th>
                                    <th>Department</th>
                                    <th>Other</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.EmployeeName</td>
                                    <td>@item.Salary</td>
                                    <td>@item.District.DistrictName</td>
                                    <td>@item.HireDate.ToShortDateString()</td>
                                    <td>@item.Notes</td>
                                    <td>@item.IsActive</td>
                                    <td>@item.Department.DepartmentName</td>

                                    <td class="text-center">
                                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-cyan"><i class="far fa-address-card"></i></button></a>
                                        <a asp-controller="Employee" asp-action="Update" asp-route-id="@item.Id"><button class="btn btn-info"><i class="far fa-edit"></i></button></a>
                                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger"><i class="fas fa-trash"></i></button></a>
                                    </td>
                                </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section table{
    <script>
        $(function () {
            $('.js-basic-example').DataTable({
                responsive: true,
                paging: true,
                pageLength: 5,
                bSort: true,
                bFilter: true,
                bLengthChange: true,
                bInfo: true,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],

            });
        });
    </script>
}


